/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}

body{
    height: 5000px;
    background-color: lightblue; /* header background-color: transparent를 보기 위한 임시 배경색 */
}
/* //reset */

/* header */
header{
    z-index: 9999;
}
header .tj-headerInnerWrap{
    background-color: transparent;
    transition: background-color 0.4s;
}

/* progress bar */
header .tj-progressWrap{
    width: 100%;
    height: 3px;

    position: fixed;
    top: 77px;
    left: 0;
    z-index: 999999999;

    background-color: rgba(243, 243, 243, 0.2);
}

header .tj-progressWrap .tj-progressBar{
    height: 100%;
    width: 0;
    background-color: navy;

    box-shadow: 0 0 15px rgba(0, 0, 128, 0.8);
}
/* //progress bar */

/* title */
header .tj-navbar-brand{
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1c1c1c;
    font-weight: bold;
    transition: color 0.4s, font-weight 0.4s;
}
header .tj-headerText-scrollEffect{
    color: #f3f3f3;
    transition: color 0.4s, font-weight 0.4s;
}
header .tj-headerText-scrollEffect:hover{
    color: navy;
}
header .tj-navbar-brand:hover{
    color: navy;
}
/* //title */

/* menu */
header .nav-item .tj-nav-link span{
    display: inline-block;
    padding: 10px;
    text-align: center;
}
header .nav-item .tj-nav-link{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    color: #1c1c1c;
    transition: color, font-weight 0.4s;
}
header .nav-item .tj-nav-link:hover{
    font-weight: bold;
    color: navy;
}

header .nav-item .tj-nav-link .tj-AboutMe{
    width: 97px;
}
header .nav-item .tj-nav-link .tj-Future{
    width: 70px;
}
header .nav-item .tj-nav-link .tj-Skills{
    width: 59px;
}
header .nav-item .tj-nav-link .tj-PersonalityValue{
    width: 170px;
}
header .nav-item .tj-nav-link .tj-Favorite{
    width: 81px;
}
header .nav-item .tj-nav-link .tj-Archiving{
    width: 93px;
}
/* //menu */
/* //header */

/* main body */
.tj-innerWrap{
    margin: 0 auto !important;
    padding: 100px 0 0 0;
    border: 1px solid #000;
}
/* main section */
.tj-mainInnerWrap{
    padding: 100px 0 0 0;
    height: 600px;
    border: 1px solid black;

    position: relative;
}

.tj-mainInnerWrap .tj-textWrap{
    text-align: center;
    width: 100%;
    margin-top: 32px;
}

.tj-mainInnerWrap .tj-textWrap p span{
    color: #f3f3f3;

    cursor: default;
}

.tj-mainInnerWrap .tj-textWrap p:nth-child(1)>span{
    font-size: 3rem;
    font-weight: bold;
    /* border: 1px solid #222; */
}

.tj-mainInnerWrap .tj-textWrap p:nth-child(2)>span{
    font-size: 2.4rem;
    font-weight: bold;
}

.tj-mainInnerWrap .tj-textWrap p:nth-child(3)>span{
    display: inline-block;

    font-size: 1.4rem;
    opacity: 0.5;

    transition: all 0.35s;
}
.tj-mainInnerWrap .tj-textWrap p:nth-child(3)>span:hover{
    transform: scale(1.2);
    opacity: 1;
}

.tj-mainInnerWrap button[type="button"]{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 70px;
    border-radius: 35px;

    border: 1px solid #222;
    box-shadow: 3px 3px 7px 1px #111;
}
.tj-mainInnerWrap button[type="button"]>a{
    width: 100%;
    height: 100%;
    border-radius: 35px;
}
/* //main section */

/* AboutMe section */
.tj-AboutMeInnerWrap{
    padding: 100px 0;    
}

.tj-AboutMeInnerWrap .tj-title{
    display: none;

    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.tj-AboutMe_contentsWrap{
    margin: 0 auto;
    width: 80%;
}

.tj-AboutMe_contentsWrap .content_box:nth-child(1){
    position: relative;
}

.tj-AboutMe_contentsWrap .content_box:nth-child(1)::after{
    content: "About Me";
    position : absolute;
    top: 61px;
    left: -120px;
    transform: rotate(-90deg);

    text-align: end;
    font-size: 2.7rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 767px){
    .tj-AboutMe_contentsWrap .content_box:nth-child(1)::after{
        display: none;
    }

    .tj-AboutMeInnerWrap>.tj-title{
        display: block;
    }
}

.tj-AboutMe_contentsWrap>.content_box{
    width: 300px;
    height: 120px;
    border: 1px solid #000;
    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    /* gap: 30px; */

    align-items: center;
}

.tj-AboutMe_contentsWrap>.content_box .img{
    width: 64px;
    height: 64px;
    margin: 0 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ccc;
}
.tj-AboutMe_contentsWrap>.content_box .img>img{
    width: 85%;
    height: 85%;
    border-radius: 50%;
}

.tj-AboutMe_contentsWrap>.content_box .content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tj-AboutMe_contentsWrap>.content_box .content>p{
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    font-weight: 550;

    margin-bottom: 0; /* p 기본 margin-bottom 제거 */
}
/* //AboutMe section */

/* Future */
.tj-FutureInnerWrap{
    height: 800px;
}

.tj-FutureInnerWrap>.tj-title{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: start;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.tj-FutureInnerWrap>.tj-content-box{
    width: 90%;
    max-width: 800px;
    height: 500px;
    max-height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.tj-FutureInnerWrap>.tj-content-box .tj-content-title{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    font-size: 1.7rem;
    font-weight: 470;
    font-family: "Poppins", sans-serif;
}

.tj-FutureInnerWrap>button[type="button"]{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    background-color: #fff;
    margin: 30px auto 0 auto;

    transform: rotate(0deg);
    transition: transform 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tj-FutureInnerWrap>button[type="button"]>i{
    transition: transform 0.5s ease-in-out;
}
/* //Future section */

/* Skills section */
.tj-SkillsInnerWrap{
    padding-bottom: 50px;
}

.tj-SkillsInnerWrap>.tj-title{
    width: 80%;
    max-width: 800px;
    /* margin: 0 auto 30px auto; */
    margin: 0 auto;
    text-align: start;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: flex-end;
}

.tj-SkillsInnerWrap>.tj-Skills_contentsWrap{
    width: 80%;
    max-width: 800px;
    /* height: 400px; */
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    /* overflow: hidden; */
    transition: max-height 0.5s ease-in-out;
}

.tj-SkillsInnerWrap>.tj-Skills_contentsWrap .tj-content{
    /* 공통 */
    background-color: #fff;
    border-radius: 15px;
    padding: 15px 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.tj-SkillsInnerWrap>.tj-Skills_contentsWrap .tj-content>.tj-content-title{
    /* 공통 */
    margin: 0 30px 0 0;
    font-size: 1.4rem;
    font-weight: 550;
}
.tj-SkillsInnerWrap>.tj-Skills_contentsWrap .tj-content>.tj-content-text{
    /* 공통 */
    margin: 0;
    padding: 0;

    font-weight: 520;

    display: inline-flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.tj-SkillsInnerWrap>.tj-Skills_contentsWrap .tj-content>.tj-content-text>li{
    /* 공통 */
    font-size: 1.2rem;
    /* width: auto; */
    /* margin-bottom: 0; */
}
.tj-SkillsInnerWrap>.tj-Skills_contentsWrap .tj-content+.tj-content{
    margin-top: 20px;
}
/* //Skills section */

/* Personality&Value section */
.tj-carousel-content{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);
}
/* //Personality&Value section */
/* //main body */

/* footer */
/* //footer */