/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
    display: block;
}

body{
    /* height: 5000px; */
    background-color: #fefefe; /* header background-color: transparent를 보기 위한 임시 배경색 */
}
/* //reset */

/* header */
header{
    z-index: 9999;
}
header .tj-headerInnerWrap{
    background-color: transparent;
    transition: background-color 0.35s ease;
}
/* //header */

/* progress bar */
header .tj-progressWrap{
    width: 100%;
    height: 3px;

    position: fixed;
    top: 77px;
    left: 0;
    z-index: 999999999;

    background-color: rgba(248, 248, 248, 0.1);
    transition: background-color 0.35s ease;
}

header .tj-progressWrap .tj-progressBar{
    height: 100%;
    width: 0;
    background-color: #ffd700;

    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
}
/* //progress bar */

/* title */
header .tj-headerText{
    color: rgba(248, 248, 248, 0.6);
    font-size: 0.9rem;
    font-family: "Poppin", sans-serif;
    font-weight: 450;
    transition: color 0.35s ease, text-shadow 0.35s ease, transform 0.2s ease;
}
header .tj-headerText:hover{
    color: #f8f8f8;
    text-shadow: 0 0 10px rgba(192, 192, 192, 0.8);
    transform: scale(1.05);
}

header .tj-navbar-brand{
    font-size: 2.25rem;
    /* color: #f8f8f8; */
    font-weight: 600;
    /* transition: color 0.4s, font-weight 0.4s; */
}

header .tj-headerText-scrollEffect{
    color: #f8f8f8;
}
header .tj-headerText-scrollEffect:hover{
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}
/* //title */

/* menu */
header .nav-item .tj-nav-link span{
    display: inline-block;
    padding: 10px;
    width: fit-content;
    text-align: center;
}

header .navbar-toggler{
    border: 2px solid #f8f8f8;
    opacity: 0.6;

    transition: opacity 0.35s ease, box-shadow 0.35s ease;
}

header .navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23f8f8f8' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header .navbar-toggler:focus{
    box-shadow: none !important;
}

header .navbar-toggler:hover{
    opacity: 1 !important;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.8) !important;
}
/* //menu */
/* //header */

/* main body */
.tj-innerWrap{
    margin: 0 auto !important;
    padding: 100px 0 80px 0;
    /* border: 1px solid #000; */
}
.tj-innerWrap>.tj-title{
    color: #212529;
    font-family: "Poppin", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: start;
    margin: 0 auto 1rem auto;
}
@media screen and (max-width: 767px){
    .tj-innerWrap>.tj-title{
        font-size: 3rem;
    }    
}
.w-80{
    width: 80% !important;
}
/* main section */
.tj-Main-fullWrap{
    position: relative;
    background-color: #444;
}
.tj-Main-fullWrap>.tj-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    filter: blur(3px) contrast(70%);
    mask-image: radial-gradient(circle, #000 50%, transparent 95%);
}

.tj-mainInnerWrap{
    height: fit-content;
    padding: 100px 0;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tj-mainInnerWrap .tj-textWrap{
    width: 55%;
    height: fit-content;
    margin: 24px auto 0 auto;
    padding: 5px 10px;
    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tj-mainInnerWrap .tj-textWrap h2:nth-child(1){
    margin-top: 1rem;
}
.tj-mainInnerWrap .tj-textWrap h2{
    /* display: inline-block; */
    width: fit-content;
    font-family: "Poppins", sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}

.tj-mainInnerWrap .tj-textWrap h2 span{
    color: #f8f8f8;
    width: fit-content;
    text-align: center;

    cursor: default;
}

.tj-mainInnerWrap .tj-textWrap h2:nth-child(1)>span,
.tj-mainInnerWrap .tj-textWrap h2:nth-child(2)>span{
    font-size: 3rem;
    font-weight: bold;
}

.tj-mainInnerWrap .tj-textWrap h2:nth-child(3)>span{
    font-size: 2.4rem;
    font-weight: 600;
}

.tj-mainInnerWrap .tj-textWrap h2:nth-child(4)>span{
    font-size: 1.4rem;
    opacity: 0.5;

    transition: transform 0.35s ease, opacity 0.35s ease;
}
.tj-mainInnerWrap .tj-textWrap h2:nth-child(4)>span:hover{
    transform: scale(1.1);
    opacity: 1;
}

.tj-main-btnWrap{
    width: 150px;
    height: 60px;
    border-radius: 15px;
}
.tj-mainInnerWrap .tj-main-btn{
    /* background-color: #ffd700; */
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    font-weight: 550;
    font-family: "Poppin", sans-serif;

    transition: transform 0.2s ease;
}
.tj-mainInnerWrap .tj-main-btnWrap:active .tj-main-btn{
    transform: scale(0.9);
    /* font-family: "Roboto", sans-serif; */
}

@media screen and (max-width: 767px){
    .tj-mainInnerWrap .tj-textWrap{
        width: 90%;
        background-color: rgba(34, 34, 34, 0.5);
    }

    .tj-mainInnerWrap .tj-textWrap h2:nth-child(1)>span,
    .tj-mainInnerWrap .tj-textWrap h2:nth-child(2)>span{
        font-size: 2.5rem;
        font-weight: bold;
        display: inline-block;
        margin-top: 16px;
    }
    
    .tj-mainInnerWrap .tj-textWrap h2:nth-child(3)>span{
        font-size: 2rem;
        font-weight: 600;
    }
    
    .tj-mainInnerWrap .tj-textWrap h2:nth-child(4)>span{
        font-size: 1.2rem;
        opacity: 0.5;
    
        transition: transform 0.35s ease, opacity 0.35s ease;
    }
    .tj-mainInnerWrap .tj-textWrap h2:nth-child(4)>span:hover{
        transform: scale(1.1);
        opacity: 1;
    }

    .tj-main-btnWrap{
        width: 130px;
        height: 50px;
        border-radius: 10px;
    }
}
/* //main section */

/* AboutMe section */
.tj-AboutMe-fullWrap{
    background-color: #ededed;
}

.tj-AboutMeInnerWrap>.tj-title{
    width: 80%;
    max-width: 800px;
    /* margin: 0 auto; */

    /* font-size: 3.2rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif; */
}

.tj-AboutMeInnerWrap>.tj-contentsWrap{
    width: 80%;
    max-width: 800px;
    height: 390px;
    overflow: scroll;
    margin: 0 auto;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    /* border: 1px solid #222; */

    /* position: relative; */

    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
}
.tj-AboutMeInnerWrap>.tj-contentsWrap::-webkit-scrollbar{
    display: none;
  }

.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content{
    width: 100%;
    height: 130px;
    font-size: 2rem;
    color: #5c5c5c;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid #222; */

    

    transform: scale(0.8);
    opacity: 1;
    transition: color 0.35s ease, transform 0.35s ease, opacity 0.35s ease;
}
.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content.tj-active{
    color: #000;
    transform: scale(1);
    opacity: 1;
}
.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content p{
    max-width: 90%;
    min-width: 40%;
    padding: 5px 60px;
    margin-bottom: 0;
    border-radius: 10px;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    row-gap: 0;

    transition: background-color 0.35s ease;
}
.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content.tj-active p{
    background-color: #ffd700;
}


.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content .tj-content-title{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content .tj-content-text{
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content:nth-child(1){
    margin-top: 130px;
}
.tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content:nth-child(6){
    margin-bottom: 130px;
}

.tj-AboutMeInnerWrap .tj-btnWrap{
    height: fit-content;
    margin: 10px auto 0 auto;

    display: none;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
}
.tj-AboutMeInnerWrap .tj-btnWrap button[type="button"]{
    /* display: none; */
    /* margin: 10px auto; */
    height: fit-content;
}

@media screen and (max-width: 767px){
    .tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content{
        font-size: 1.5rem;
        font-weight: 540;
        transform: scale(0.9);
    }

    .tj-AboutMeInnerWrap>.tj-contentsWrap .tj-content.tj-active{
        transform: scale(1.1);
    }

    .tj-AboutMeInnerWrap .tj-btnWrap{
        display: flex;
    }
}
/* //AboutMe section */

/* Future section */
.tj-FutureInnerWrap{
    height: 800px;
}

.tj-FutureInnerWrap>.tj-title{
    width: 80%;
    max-width: 800px;
    /* margin: 0 auto; */
    text-align: end;
    /* font-size: 3.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif; */
}

.tj-FutureInnerWrap>.tj-contentsWrap{
    width: 80%;
    max-width: 800px;
    height: 450px;
    max-height: 100px;
    margin: 0 auto;
    padding: 0 30px 30px 30px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.tj-FutureInnerWrap>.tj-contentsWrap .tj-content-title{
    height: 100px;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.tj-FutureInnerWrap>.tj-contentsWrap .tj-content-text{
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 2.04rem;
    font-family: "Roboto", sans-serif;
}


.tj-FutureInnerWrap>button[type="button"]{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    background-color: #fff;
    margin: 30px auto 0 auto;

    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tj-FutureInnerWrap>button[type="button"]>i{
    transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 767px){
    .tj-FutureInnerWrap{
        height: 1050px;
    }

    .tj-FutureInnerWrap>.tj-contentsWrap{
        height: 700px;
    }

    .tj-FutureInnerWrap>.tj-contentsWrap .tj-content-title{
        font-size: 1.5rem;
        flex-direction: column;
    }

    .tj-FutureInnerWrap>.tj-contentsWrap .tj-content-text{
        font-size: 1rem;
        font-weight: 430;
        line-height: 1.92rem;
    }

    .tj-FutureInnerWrap>button[type="button"]{
        width: 40px;
        height: 40px;
    }
}
/* //Future section */

/* Skills section */
.tj-Skills-fullWrap{
    background-color: #ddd;
}

.tj-SkillsInnerWrap>.tj-title{
    width: 80%;
    max-width: 800px;
    /* margin: 0 auto 30px auto; */
    /* margin: 0 auto; */
    text-align: start;
    /* font-size: 3.5rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif; */
}

.tj-SkillsInnerWrap>.tj-contentsWrap{
    width: 80%;
    max-width: 800px;
    height: fit-content;

    /* height: 400px; */
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */

    /* overflow: hidden; */
    transition: max-height 0.5s ease-in-out;
}

.tj-SkillsInnerWrap>.tj-contentsWrap .tj-content>.tj-content-title{
    /* 공통 */
    /* margin: 0 30px 0 0; */
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 530;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tj-SkillsInnerWrap>.tj-contentsWrap .tj-content>.tj-content-text{
    /* 공통 */
    margin: 0;
    padding: 0;
    
    /* display: inline-flex;
    flex-wrap: wrap;
    column-gap: 20px; */
}

.tj-SkillsInnerWrap>.tj-contentsWrap .tj-content>.tj-content-text>li{
    /* 공통 */
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 430;

    background-color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    /* width: auto; */
    /* margin-bottom: 0; */
}

.tj-SkillsInnerWrap>.tj-contentsWrap .tj-hr{
    width: 100%;
    height: 1px;
    background-color: #000;
    border-radius: 1px;
    /* margin: 0 auto; */
}
/* //Skills section */

/* Personality&Value section */
.tj-PersonalityValueInnerWrap>.tj-title{
    width: 80%;
    max-width: 1056px;
    /* margin: 0 auto; */

    text-align: end;
    /* font-size: 3rem;
    font-weight: bold; */
}

.tj-PersonalityValueInnerWrap>.tj-contentsWrap{
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid #222; */
}

.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-tabs{
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 10px; */
}

.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-tabs button[type='button']{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    font-size: 1.3rem;
    font-family: "Roboto", sans-serif;
    opacity: 0.5;
    transition: opacity 0.35s ease;
}
.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-tabs button[type='button'].tj-active{
    opacity: 1;
}

.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-elementsWrap{
    width: 100%;
    height: 560px;
    position: relative;
    
    /* background-color: #ddd; */
}

.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-elementsWrap .tj-element{
    width: 100%;
    height: 500px;
    padding: 30px;
    background-color: #ddd;
    border-radius: 0 10px 10px 10px;

    /* display: flex;
    align-items: center; */

    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 0.35s ease;
}
.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-elementsWrap .tj-element.tj-active{
    opacity: 1;
}

.tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-elementsWrap .tj-element p{
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 2.04rem;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 767px){
    .tj-PersonalityValueInnerWrap>.tj-contentsWrap{
        width: 95%;
    }
    
    .tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-tabs{
        width: 90%;
    }

    .tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-tabs button[type='button']{
        width: 50%;
        max-width: 200px;

        font-size: 1.1rem;
        font-weight: 520;
        font-family: "Roboto", sans-serif;
    }

    .tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-elementsWrap .tj-element{
        height: fit-content;
    }

    .tj-PersonalityValueInnerWrap>.tj-contentsWrap .tj-elementsWrap .tj-element p{
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 430;
        line-height: 1.92rem;
        font-family: "Roboto", sans-serif;
    }
}
/* //Personality&Value section */

/* Favorite */
.tj-Favorite-fullWrap{
    background-color: #ddd;
}

.tj-FavoriteInnerWrap>.tj-title{
    width: 80%;
    max-width: 800px;
    /* margin: 0 auto; */

    text-align: start;
    /* font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif; */
}

.tj-FavoriteInnerWrap>.tj-carouselWrap{
    width: 80%;
    max-width: 800px;
    /* height: 500px; */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

.tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-item>img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-item .tj-carousel-text-wrap{
    background-color: rgba(34, 34, 34, 0.5);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-family: "Roboto", sans-serif;
}

.tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-control-prev,
.tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-control-next{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: auto 20px;

    background-color: rgba(34, 34, 34, 0.5);
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px){
    .tj-FavoriteInnerWrap>.tj-carouselWrap{
        position: relative;
        overflow: visible;
    }

    .tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-item>img{
        border-radius: 10px;
    }

    .tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-item .tj-carousel-text-wrap h5{    
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
    }
    .tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-item .tj-carousel-text-wrap p{
        display: flex;
        flex-direction: column;
        
        font-family: "Roboto", sans-serif;
        font-size: 0.8rem;
    }

    .tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-control-prev,
    .tj-FavoriteInnerWrap>.tj-carouselWrap .carousel-control-next{
        width: 48px;
        height: 48px;
        padding: 10px;
        margin: auto 20px;

        background-color: rgba(34, 34, 34, 0.5);
        border-radius: 50%;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                    0 3px 7px rgba(0, 0, 0, 0.1);
    }
}
/* //Favorite */

/* Archiving */
.tj-ArchivingInnerWrap>.tj-title{
    width: 80%;
    max-width: 800px;
    /* margin: 0 auto; */

    text-align: end;
    /* font-size: 3rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif; */
}

.tj-ArchivingInnerWrap>.tj-contentsWrap{
    width: 80%;
    margin: 0 auto;
}
.tj-ArchivingInnerWrap>.tj-contentsWrap .card{
    font-family: "Roboto", sans-serif;

    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
                0 3px 7px rgba(0, 0, 0, 0.1);

    transition: transform 0.35s;
}
.tj-ArchivingInnerWrap>.tj-contentsWrap .card:hover{
    transform: translateY(-10px);
}

.tj-ArchivingInnerWrap>.tj-contentsWrap .card .card-link{
    display: inline-block;
    padding: 5px 10px;
    background-color: #ffd700;
    border-radius: 7px;
}
/* //Archiving */
/* //main body */

/* footer */
.tj-footer-fullWrap{
    background-color: #222;
}
.tj-footerInnerWrap{
    height: 200px;
    margin: 0 auto !important;
    padding: 20px 0 0 20px;
    /* border: 1px solid #000; */

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.tj-footerInnerWrap .tj-title{
    width: max-content;
    font-family: "Poppins", sans-serif;
}

.tj-footerInnerWrap .tj-text{
    width: max-content;
    font-family: "Roboto", sans-serif;
}

.tj-footerInnerWrap .tj-title>p,
.tj-footerInnerWrap .tj-text>p{
    color: #fff;
}
/* //footer */

/* top button */
#top-btn{
    width: 45px;
    height: 45px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15),
    0 3px 7px rgba(0, 0, 0, 0.1);

    position: fixed;
    bottom: 30px;
    right: 30px;

    display: none;
}

#top-btn>i{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px){
    #top-btn{
        width: 40px;
        height: 40px;
    }

    #top-btn>i{
        font-size: 0.8rem;
    }
}
/* //top button */